registry = https://mmrepo.jfrog.io/mmrepo/api/npm/npm-virtual
_auth = dmFuZXNzYS52aXJnaXR0aUBhY3VyaXMuY29tOkFLQ3A1Wmt4Ujl3aUZTa1dIU1ExNlAxUlE3ZUhkd3d4dW96QTdGN0IxSkxwSHlQbnRhSzkyQmhvY1RyeHNHSzNhcU1oYTd4NkI=
always-auth = true
