.App {
  text-align: center;
  background-color: grey;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Box {
  height: 250px;
  width: 800px;
  background-color: white;
  border-radius: 3px;
  margin: auto;
  position: relative;
}

.Button {
  background-color: red;
  color: white;
  position: absolute;
  border-radius: 3px;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  margin: 10px;
  border-color: black;
}

.quote {
  font-family:  'Kavivanar', cursive;
  font-size: 1.5em;
  padding-top: 15px;
}

.author {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding-top: 20px;
}

.twitter-share-button {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

body {
  background-color: grey;
}

p {
  color: white;
}

h2, h3 {
  color: black;
}
